.main-title {
    text-align: center;
    /* font-size: 10vh; */
    font-size: 500%;
}

.main-subtitle {
    text-align: center;
}

.project-list-div {
    display: block;
    margin: 10px auto;
    width: fit-content;
}

.project-items:hover {
    color: #6290C3;
}