/* Color Palettes: */
/* https://coolors.co/26262c-f8eedd-6290c3-bf4e30-4f9d69 */
/*
--gunmetal: #403f4cff;
--dusty-denim: #6290c3ff;
--champagne-mist: #f3dfc1ff;
--rosy-copper: #bf4e30ff;
--shamrock: #4f9d69ff;
 */

html {
  color: #F8EDDD; /* 2 shades lower thank champagne-mist */
  background-color: #26262C; /* 2 shades lower than gunmetal */
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
main {
  flex: 1;
  gap: 10px;
}
footer {
  text-align: center;
  padding: 1% 0 1% 0;
  /* Below is to keep the footer in the center */
  /* position: fixed;
  left: 0; */
  /* bottom: 0; */
  /* width: 100%; */
}
a {
  color: inherit;
  transition: all 0.25s ease-in-out;
}
a:hover {
  color: #6290C3;
}
img {
  display: block;
  border-style: solid;
  border-width: 4px;
  border-radius: 24px;
  border-color: #403f4cff;
  transition: all 0.5s ease-in-out;
}
img:hover {
  box-shadow: 0 0 2px 1px #8C6118;
}
code {
  background-color: black;
  border-radius: 6px;
  padding: 2px 5px;
  font-size: 0.8rem;
  color: #f3dfc1ff;
  font-family: 'Source Code Pro','Courier New', Courier, monospace;
}

.footer-items {
  display: flex;
  justify-content: center;
  gap: 10px
}
.footer-links:hover {
  color: #bf4e30ff;
}
.special-marker {
  opacity: 10%;
  text-align: center;
  margin: 10px 0px;
}

/* Below are just fonts */
.source-code-pro {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Honestly, might just remove this font, i kinda don't like it */
.stack-sans-text {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.merriweather-sans {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.sono-font {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.stix-two-math-regular {
  font-family: "STIX Two Math", serif;
  font-weight: 400;
  font-style: normal;
}